:root {
    --text-color: #ffffff;
    --main-color: #222831;
    --second-color: #a0de59;
    --title-size: 10rem;
    --text-size: 16px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: var(--main-color);
}

/* nav {
    border-bottom: 1px solid var( --second-color);;
} */

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-item {
    display: flex;
    gap: 20px;
    list-style: none;
    color: var(--text-color);
}